.skip{
    margin-top: 30px;
    font-size: large;
    background-color: rgb(144, 144, 255);
}
.generate{
    margin-top: 30px;
    font-size: large;
    background-color: rgb(162, 218, 252);
}